{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    [
      "import", {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}